<h2>Dispositionen nach Erbauer geordnet</h2>

<ul>
  <% orgeln.each do |orgel| -%>
  <li><%= ERB::Util.html_escape(orgel.erbauer["Name"]) %> (<a href="<%= orgel.id %>.html"><%= orgel.standort["Ort"] %>, <%= orgel.standort["Kirche"] %></a>)</li>
  <% end -%>
</ul>
