/*** reset ***/

img {
  border-width: 0px;
}

/*** fonts and colors ***/

body {
  font-family: sans-serif;
}

body {
  background-color: #eee;
}

body {
  color: #300;
}

/*** main page structure ***/

nav {
  background-color: #8b4513; /* saddlebrown */
}

footer {
  font-size: small;
}

footer img.right {
  float: right;
}

/*** padding and margins ***/

body {
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3 {
  margin-top: 5%;
}

ol, ul {
  line-height: 130%;
}

/*** navigation bar ***/

nav {
  font-weight: bold;
  list-style-type: none;
  text-align: center;
}

nav ul {
  padding: 5px 0;
}

nav li {
  display: inline;
  white-space: nowrap;
  padding: 5px 20px;
}

nav a:link, nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:focus {
  color: #ffd700; /* gold */
  text-decoration: underline;
}

nav a:active {
  color: red;
  text-decoration: underline;
}

.hidden {
  display: none;
}

/*** classes ***/

.centered {
  text-align: center;
}

.linklist li {
  margin-top: 10pt;
}

.linklist li:first-line {
  font-weight: bold;
}

.linklist a {
  font-size: small;
}

p.disclaimer {
  margin-top: 5em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 0.6em;
}
