/*** reset all ***/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav,
section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*** for old browsers (new HTML5 tags) ***/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*** general behavior ***/

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* focus: outline visible for users tabbing through the page
a { outline: none; }
a:focus { outline: red thin dotted; } */

abbr[title], dfn[title] {
  border-bottom: 1px dotted #333;
  cursor: help;
}

/*** fonts and colors ***/

/* Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font-family: Helmet, Freesans, sans-serif;
}

body {
  background-color: #f8f8ff; /* ghostwhite */
}

body, select, input, textarea {
  color: #333;
}

h1 {
  font-size: larger;
}

a {
  color: #03f;
}

a:hover {
  color: #69f;
}

body > footer a, a:hover, a:focus {
  color: #333;
}

/*** main page structure ***/

body > header, body > nav, body > section, body > footer {
  padding: 10px 5%;
}

body > header {
  padding-bottom: 0;
}

body > nav {
  padding-top: 0;
  padding-bottom: 20px;
}

body > footer {
  padding-top: 5px;
}

body > header {
  color: #777;
  background-color: #cdf;
}

body > header h1 {
  padding: 0;
  font-size: 100%;
}

body > nav {
  background-color: #cdf;
  background: -webkit-linear-gradient(top, #cdf, #f8f8ff);
  background:    -moz-linear-gradient(top, #cdf, #f8f8ff);
  background:      -o-linear-gradient(top, #cdf, #f8f8ff);
  background:         linear-gradient(to bottom, #cdf, #f8f8ff);
}

body > hr {
  margin-left: 5%;
  margin-right: 5%;
}

body > footer {
  font-size: small;
}

body > footer img.right {
  float: right;
}

/*** padding and margins ***/

h1, h2, h3, h4, h5, h6 {
  padding: 1ex 0;
}

p {
  padding: .5ex 0;
}

ol, ul {
  padding: 1ex 0;
  padding-left: 2em;
}

dl {
  padding: 1ex 0;
}

dd {
  padding-left: 2em;
}

pre {
  padding: 1ex 1em;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
}

/*** navigation bar ***/

/* reset (no margins, padding, ...) */
nav ul, nav li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav {
  font-weight: bold;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline;
  white-space: nowrap;
  padding: 0 1.5em;
}

nav a {
  color: #777;
  text-decoration: none;

  transition: color 500ms linear;
}

nav a:hover, nav a:focus {
  color: #333;
}

nav li.selected a {
  color: #333;
}

nav .hidden {
  display: none;
}

/*** classes ***/

a.de {
  padding-right: 20px;
  background: url("images/de.gif") right center no-repeat;
}

a.en {
  padding-right: 20px;
  background: url("images/en.gif") right center no-repeat;
}

p.disclaimer {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 0.6em;
}

/*** print styles ***/
@media print {

  body > nav {
    display: none;
  }

}
