/* for old browsers (new HTML5 tags) */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

/* general */

body {
  margin-left:5%;
  margin-right:5%;
  color:black;
  background-color:#F8F8FF; /* ghostwhite */
  font-family:sans-serif;
}

h1,h2,h3 {
  font-size:larger;
}

img {
  border-width:0px;
}

ol, ul {
  line-height:150%;
}

pre {
  text-indent:2em;
}

footer {
  font-size:small;
}

footer img {
  float:right;
}

acronym[title] {
  border-bottom:1px dotted silver;
  cursor:help;
}

@media print {

  acronym[title] {
    border-bottom:none;
  }

}

/* inactive links in gray */
.inactive {
  color:#A9A9A9; /* darkgray */
}

.centered { 
  text-align:center
}

/* link list */

.linklist li {
  margin-top:10pt;
}

.linklist li:first-line {
  font-weight:bold;
}

.linklist a {
  font-family:sans-serif;
  font-size:small
}

/* table of contents */

.toc {
  border-spacing:1ex;
}

.toc tr {
  vertical-align:top;
}

/* navigation bar */

nav {
  font-weight:bold;
  list-style-type:none;
  text-align:center;
  padding:5px;
}

nav li {
  display:inline;
  padding:5px 20px;
  white-space:nowrap;
}

nav a {
  color:#696969; /* dimgray */
  text-decoration:none;
}

nav a:hover, nav a:focus {
  text-decoration:underline;
}

nav a:active {
  color:red;
}

.hidden {
  display:none;
}

@media print {

  nav {
    display:none;
  }

}

/* disclaimer */

p.disclaimer {
  margin-top:5em;
  margin-left:3em;
  margin-right:3em;
  font-size:0.6em;
}
