<h2>Dispositionen nach Ortschaften geordnet</h2>

<ul>
  <% orgeln.each do |orgel| -%>
  <% ort = orgel.standort["Ort"] -%>
  <% kirche = orgel.standort["Kirche"] -%>
  <li><a href="<%= orgel.id %>.html"><%= "#{ort} (#{kirche})" %></a></li>
  <% end -%>
</ul>
