---
layout: main
---

{{ content }}

<p class='disclaimer'><strong>Erklärung</strong> Die Links auf dieser Seite verweisen
auf Angebote externer Anbieter, auf deren Inhalte ich keinen Einfluss
habe. Ich distanziere mich ausdrücklich <strong>nicht</strong> von diesen
Seiten, die ich für informativ und nützlich
halte. Natürlich bin ich auch nicht verantwortlich für
etwaige Änderungen dieser Seiten nach ihrer Verlinkung. Sollten
Sie der Ansicht sein, dass die verlinkten Seiten rechtswidriges
Material enthalten, so teilen Sie mir dies bitte mit.</p>
