<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Marcus Stollsteimer" />
  <link rel="author" href="mailto:sto.mar@web.de" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<!-- begin header -->

<header>
<h1>Marcus Stollsteimer</h1>
</header>

{% capture urlstring %}{{ page.url | prepend:'BASEURL' }}{% endcapture %}

<nav>
<ul id="top">
  <li{% if page.url == "/index.html" %} class="selected"{% endif %}>
    <span class="hidden"><a href="#pagetitle">Navigation überspringen</a> | </span>
    <a href="/index.html">Home</a></li>
  <li{% if urlstring contains "BASEURL/schrift/" %} class="selected"{% endif %}><a href="/schrift/index.html">Schrift</a></li>
  <li{% if urlstring contains "BASEURL/musik/" %} class="selected"{% endif %}><a href="/musik/index.html">Musik</a></li>
  <li{% if page.url == "/tools.html" %} class="selected"{% endif %}><a href="/tools.html">Tools</a></li>
  <li{% if page.url == "/lesefutter.html" %} class="selected"{% endif %}><a href="/lesefutter.html">Lesefutter</a></li>
</ul>
</nav>

<!-- begin main body -->

<section>

<header>
<h1 id="pagetitle">{{ page.title }}</h1>
</header>

{{ content }}

</section>

<!-- begin footer -->

<hr>
<footer>
<p><a href="http://validator.w3.org/check?uri=referer"><img class="right" src="/images/HTML5_Logo_32_gray.png" width="32" height="32" alt="HTML5" title="HTML5"></a>
Copyright &copy; {{ site.time | date: "%Y" }} Marcus Stollsteimer &nbsp; <a href="mailto:sto.mar@web.de"><img src="/images/mail.gif" alt="E-Mail" width="13" height="9"></a>
{% if page.date %}<br />Letzte Änderung: <time datetime="{{ page.date }}">{{ page.date }}</time>{% endif %}</p>
</footer>
</body>
</html>
