<!DOCTYPE html>
<html lang="de">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="author" content="Marcus Stollsteimer" />
  <link rel="author" href="mailto:sto.mar@web.de" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<!-- begin header -->

<header>
<nav>
<ul id="top">
  <li><span class="hidden"><a href="#pagetitle">Navigation &uuml;berspringen</a> | </span>
  <a href="/index.html">Home</a></li>
  <li><a href="/tools.html">Tolle Tools</a></li>
  <li><a href="/lesefutter.html">Lesefutter</a></li>
</ul>
</nav>

<h1 id="pagetitle">{{ page.title }}</h1>
</header>

<!-- begin main body -->

{{ content }}

<!-- begin footer -->

<hr>
<footer>
<p><a href="http://validator.w3.org/check?uri=referer"><img src="/images/HTML5_Logo_32_gray.png" width="32" height="32" alt="HTML5" title="HTML5"></a>
Marcus Stollsteimer <a href="mailto:sto.mar@web.de">&lt;sto.mar@web.de&gt;</a><br>
Letzte &Auml;nderung: <time datetime="{{ page.date }}">{{ page.date }}</time></p>
</footer>
</body>
</html>
